header{
    background-color: #94B49F;
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
    color: #223529;
    font-family: sans-serif;
}

.head > h1{
  font-family: Arial, Helvetica, sans-serif;
}

section{
    grid-column: 1/4;
    background-color: #FCF8E8;
    font-family: sans-serif;
}

.justi{
  text-align: justify;
  margin-right: 10px;
}

.justi_2{
  text-align: justify; 
  margin-right: 10px; 
}

.justi_3{
  text-align: justify; 
  margin-right: 10px; 
}

.justi_4{
  text-align: justify; 
  margin-right: 10px; 
}

.elemento{
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.cita_elemento{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 7px;
  left: 16%;
  top: 1000px;
  transform: translate(-50%, 50%);
}

.etiq > li img{
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.etiq > li h5.citaetiq{
  position: relative;
  background-color: rgba(255, 255, 255, 0.0);
  padding: 7px;
  left: 63%;
  top: -45px;
  transform: translate(-50%, 40%);
}

.foto_yo{
  width: 100%;
  height: 250px;
  object-fit: contain;
}

aside{
    grid-column: 4/5;
    background-color: #b9e7c9;
}
footer{
    background-color: #94B49F;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu{
    padding: 0px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.menu > li{
    float: left;
}

.menu li a{
    background-color: rgb(41, 56, 56);
    color: #FCF8E8;
    text-decoration: none;
    padding: 20px 80px;
    display: block;
}

.menu li a:hover{
    background-color: #c9b95e;
}

.menu li ul{
    display:none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    min-width: 70px;
    z-index: 1;
}

.menu li:hover > ul{
    display:block;
}

.menu li ul li{
    position: relative;
}

.menu li ul li{
    right: 40px;
}

#html_slider{
    font-family: sans-serif;
    margin: auto;
    background-color: white;
    max-width: 800px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
  }
  
#html_slider > ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
#html_slider > ul.slider{
    position: relative;
    max-width: 800px;
    width: 100%;
    height: 300px;
  }
  
#html_slider > ul.slider h5.arriba{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 7px;
    left: 18%;
    top: 230px;
    transform: translate(-50%, 50%);
  }

#html_slider > ul.slider h5{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 7px;
    left: 25%;
    top: 230px;
    transform: translate(-50%, 50%);
  }

#html_slider > ul.slider h5.pie{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 7px;
    left: 18%;
    top: 230px;
    transform: translate(-50%, 50%);
  }
  
#html_slider > ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  
#html_slider > ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
#html_slider > ul.slider li:first-child {
      opacity: 1;
  }
  
#html_slider > ul.slider li:target {
      opacity: 1;
  }
  
#html_slider > .menu{
    text-align: center;
    margin: 20px;
  }
  
#html_slider > .menu li{
    display: inline-block;
    text-align: center;
  }
  
#html_slider > .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
  }

footer{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}