header{
    background-color: beige;
}
nav{
    background-color: bisque;
}
section{
    background-color: blanchedalmond;
}
aside{
    background-color: aquamarine;
}
footer{
    background-color: rgb(247, 247, 157);
}
main{
    background-color: rgb(248, 205, 148);
}