header{
    background-color: beige;
}
nav{
    background-color: bisque;
}
section{
    grid-column: 1/4;
    background-color: blanchedalmond;
}
aside{
    grid-column: 4/5;
    background-color: aquamarine;
}
footer{
    background-color: rgb(247, 247, 157);
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}