header{
    background-color: #94B49F;
}
nav{
    background-color: #CEE5D0;
}
section{
    grid-column: 1/4;
    background-color: #FCF8E8;
}
aside{
    grid-column: 4/5;
    background-color: #b9e7c9;
}
footer{
    background-color: #94B49F;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu{
    display: flex;
    flex-direction: row;
}